@using Microsoft.AspNetCore.Identity;
@model IEnumerable<LabM.Models.Request>
@{
    //var vvvvvv = ViewBag.UserRoleCheck;
}
@*@if (@ViewData["Checkk"] == "True")
{
    <a class="btn btn-info text-white" asp-controller="Managements" asp-action="Edit">System Config</a>
}*@

@if (User.IsInRole("Admin"))
{
    <a class="btn btn-info text-white" asp-controller="Managements" asp-action="Edit">System Config</a>
}
<div class="row mt-3">
    <h5 class="rounded text-center text-white p-2 bg-info">Request List</h5>
</div>
<form asp-action="Index" method="get">
    <div class="row p-3 my-2 border">
        <div class="col-2 ">
            <select name="searchSelected" class="form-select">
                <option>All</option>
                <option>StudentsStatus</option>
                <option>College</option>
            </select>
        </div>
        <div class="col-2 ">
            <input name="searchString" type="text" class="form-control" />
        </div>
        <div class="col-2 ">
            <input type="submit" value="filter" class="btn btn-primary" />
        </div>
        <div class="col-2 ">

            <a class="btn btn-primary" asp-action="ExportStudentInExcel">Export</a>
        </div>
    </div>
</form>
@*<form method="get" asp-action="index">
    <div class="row mt-3">
        <h5 class="rounded text-center text-white p-2 bg-info">Request List</h5>
    </div>
    <div class="row p-3 my-2 border">
        <div class="col-2 ">
            <select name="College" class="form-select">
                <option></option>
                <option>الطب البشري ( المقر الرئيسي)</option>
                <option>الطب والعلوم الطبية ( القطاع الجنوبي )</option>
                <option>طب الأسنان ( القطاع الغربي )</option>
                <option>طب الأسنان ( المقر الرئيسي) </option>
                <option>الصيدلة ( المقر الرئيسي )</option>
                <option>الصيدلة ( المقر الجنوبي )</option>
                <option>العلوم الطبية التطبيقية</option>
                <option>البصريات</option>
                <option>التمريض</option>
                <option>التأهيل الطبي</option>
                <option>العلوم الصحية</option>
                <option>الصحة العامة والمعلوماتية</option>
                <option>كلية الزراعة</option>
            </select>
        </div>
        <div class="col-2">
            <select name="StudentsStatus" class="form-select">
                <option></option>
                <option value="NewStudent">New Student</option>
                <option value="Intern">Intern</option>
            </select>
        </div>
        <div class="col-2">
            <input type="submit" value="search" class="btn btn-info text-white form-control" />
            <!-- <input type="search" class="form-control" name="CollegeNameSearch" placeholder="College Name Search"> -->
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-info text-white form-control ">Extract</button>
        </div>
        <div class="col-3">
            <p class="text-danger">Extract all or as per search results</p>
        </div>
    </div>
</form>*@
<table class="table">
    <thead>
        <tr>
            <th>
                Request Number
            </th>
            <th>
                Student Name
            </th>
            <th>
                National/ Residence Id
            </th>
            <th>
                University Number
            </th>
            <th>
                Students Status
            </th>
            <th>
                Request Submission Date
            </th>
            <th>
                College
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstNameEnglish)
                    @Html.DisplayFor(modelItem => item.FatherNameEnglish)
                    @Html.DisplayFor(modelItem => item.GrandFatherNameEnglish)
                    @Html.DisplayFor(modelItem => item.FamilyNameEnglish)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NationalOrResidenceId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UniversityNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentsStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.College)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
